<h1>Create a New Visit!</h1><br>

<h2>Choose a Destination:</h2>
<%= form_for @visit do |f| %>
<%= f.collection_select :destination_id, Destination.all, :id, :name %>
<%= f.submit %>
<% end %><br>
<br>


<%= link_to "OR Create Your Own Destination!", new_custom_destination_path %><br>
<br>

<%= button_to "Back To My Profile", user_path(session[:user_id]), :method => "get" %>
